POSTGRES_DB=jobfinder
POSTGRES_USER=jobfinder
POSTGRES_PASSWORD=jobfinder
JWT_SECRET=change_me_change_me_change_me_change_me_change_me_change_me_change_me_change_me_1234567890
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
JSEARCH_API_KEY=
THEMUSE_API_KEY=
MAIL_HOST=mailhog
MAIL_PORT=1025
